.contact-content {
    padding-top: 6%;
    padding-bottom: 3%;
}

.contact-subtitle {
    text-align: center;
    font-size: 1vw;
    color: #0F2137;
}

.contact-title {
    text-align: center;
    font-size: 2vw;
    color: #0F2137;
}