.inventory-subtitle {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: 600;
    font-size: 1vw;
    color: #0F2137;
}

.inventory-title {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: 800;
    font-size: 2.6vw;
    color: #0F2137;
}

.inventory-content {
    padding-top: 3%;
    padding-bottom: 3%;
}

.video {
    width: 100%;
    height: 90%;
}