<div class="head" [ngClass]="getHeadClass()">
    <div class="head-content">
      <div class="head-content-left">
        <div class="search-container">
          <div *ngIf="!canShowSearchAsOverlay" class="normal-search">
            <input type="search" name="search" id="search" class="search"
            placeholder="Search..."
            >
            <i class="fa fa-search search-icon"></i>
          </div>
          <div *ngIf="canShowSearchAsOverlay">
            <button
              [cdkMenuTriggerFor]="searchOverlay"
              class="search-menu-btn ripple"
            >
              <i class="fa fa-search search-icon"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="head-content-right">
          <div class="head-menu">
            <div class="head-menu-item">
              <button class="head-menu-item-btn ripple">
                <img src="assets/image/flags/colombia.png" alt="Imagen de colombia" class="flag" loading="lazy">
              </button>
            </div>
            <div class="head-menu-item">
              <button class="head-menu-item-btn ripple">
                <i class="fa fa-expand menu-icon"></i>
              </button>
            </div>
            <div class="head-menu-item">
              <button class="head-menu-item-btn ripple" [cdkMenuTriggerFor]="notificationOverlay">
                <i class="fa fa-bell menu-icon"></i>
              </button>
            </div>

            <div class="head-menu-item">
              <button class="head-menu-item-btn ripple"  [cdkMenuTriggerFor]="messageOverlay" >
                <i class="fa fa-comment-alt menu-icon"></i>
                <span class="new-message-indicator" *ngIf="newMessageCount > 0">{{ newMessageCount }}</span>
              </button>
            </div>
          </div>
        <div class="head-user-avatar-container">
          <div class="head-user-avatar" [cdkMenuTriggerFor]="userOverlay">
            <img src="assets/image/users/Foto.jpg" alt="user" class="user-avatar" loading="lazy">
            <div class="circle-indicator pulse"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #searchOverlay>
    <div class="overlay overlay-search overlay-fall" cdkMenu>
      <input type="search" class="search" name="search" placeholder="Search...">
      <button class="search-btn">
        <i class="fa fa-search search-icon"></i>
      </button>
    </div>
  </ng-template>

  <ng-template #notificationOverlay>
    <div class="overlay overlay-notification overlay-fall" cdkMenu>
      <ul>
        <li class="notification-head-container">
          <div class="notification-head">Notification</div>
            <span class="view-all-link">
              <a>View All</a>
            </span>
        </li>
        <li class="notification-message-container"
        *ngFor="let notification of notifications"
            cdkMenuItem
        >
          <i [class]="notification.icon"></i>
          <div>
            <div class="notification-subject">
              {{notification.subject}}
            </div>
            <p class="notification-desc">
              {{notification.description}}
            </p>
          </div>
        </li>
      </ul>
    </div>
  </ng-template>
<ng-template #messageOverlay>
  <div class="overlay overlay-notification overlay-fall message-overlay-scrollable" cdkMenu>
    <ul>
      <li class="notification-head-container">
        <div class="notification-head">Mensajes</div>
        <span class="view-all-link">
          <a routerLink="/corporate/contact">View All</a>
        </span>
      </li>
      <li class="notification-message-container" *ngFor="let message of messageNotifications; let i = index" cdkMenuItem>
        <i class="fa fa-bell"></i>
        <div>
          <div class="notification-subject">
            Mensaje nuevo de:
          </div>
          <p class="notification-desc" (click)="markNotificationAsRead(message.idContact)">
            {{ message.name }}
          </p>
        </div>
      </li>
    </ul>
  </div>
</ng-template>



  <ng-template #userOverlay>
    <div class="overlay overlay-user overlay-fall" cdkMenu>
      <ul>
        <li *ngFor="let item of userItems" cdkMenuItem (click)="navigateTo(item.label)">
          <a class="icon" [ngClass]="item.icon"></a>
          <span>{{item.label}}</span>
        </li>
      </ul>
    </div>
  </ng-template>

