<section class="allies-content">
    <div class="container">
        <div class="row">
            <div class="allies-subtitle"><b>Our allies</b></div>
        </div>
        <div class="row">
            <div class="allies-title">Nuestros Aliados</div>
        </div>
    </div>
</section>


<section id="ourAlliesSection" class="ourAllies">
    <div class="section_body">
        <div class="container">
            <div class="row">
                <div class="col-md-2" *ngFor="let aliado of listaAliados">
                    <figure class="snipAllies">
                        <img src="./assets/image/ourAllies/Catemar_180x.avif" alt="sample81" />
                        <i class="fa fa-solid fa-globe"></i>
                        <figcaption>
                            <h3>Ver<span> más</span></h3>
                        </figcaption><a href="#"></a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>