<div class="card">
    <div class="card-header">
        Configuracion carrusel home
        <i class="fa fa-plus-circle text-success" (click)="newForm()"  title="Agregar nuevo formulario"></i>
    </div>
    <div class="card-body">
        <div class="card-group">
            <div class="container">
                <div class="row">
                    <!-- Itera sobre los formularios dinámicamente -->
                    <div *ngFor="let formGroup of imageHomeForms; let i = index" class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" novalidate class="form-container">
                                    <div class="form-group">
                                        <label for="titleImage"><strong>Título publicación</strong></label>
                                        <input type="text" class="form-control" id="titleImage" formControlName="tittleImage" placeholder="Titulo publicacion">
                                    </div>
                                    <div class="form-group">
                                        <label for="subTitleImage"><strong>Sub Título publicación</strong></label>
                                        <textarea class="form-control" id="subTitleImage" rows="2" formControlName="subTittleImage"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <br>
                                        <div class="row">
                                            <!-- Muestra la imagen y el campo de carga -->
                                            <input type="file" (change)="handleFileInput($event.target)" />
                                            <img width="100%" *ngIf="formGroup.get('image')?.value" [src]="formGroup.get('image')?.value" class="image">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="button-container">
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                        <i class="fa fa-trash text-danger" (click)="deleteForm(i)"></i>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
