<div class="container-product">
    <form [formGroup]="productForm" >
        <div class="row gx-3">
            <div class="col-sm-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Crear producto</div>
                    </div>
                    <div class="card-body">

                        <div class="row gx-3">
                            <div class="col-sm-6 col-12">
                                <div class="card-border">
                                    <div class="card-border-title">Información General</div>
                                    <div class="card-border-body">

                                        <div class="row gx-3">
                                            <div class="col-sm-12 col-12">
                                                <div class="mb-3">
                                                    <label class="form-label">Nombre del producto<span class="text-red">*</span></label>
                                                    <input type="text" class="form-control"
                                                           placeholder="Ingrese el nombre del producto"
                                                           formControlName="name" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-12">
                                                <div class=" mb-3">
                                                    <label class="form-label">Precio</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control"
                                                               placeholder="Ingrese el precio del producto"
                                                               formControlName="price"
                                                               (keypress)="validateEnter($event, 'numeros')"
                                                               required>
                                                        <span class="input-group-text">%</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-12">
                                                <div class=" mb-3">
                                                    <label class="form-label">Unidades disponibles</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control"
                                                               placeholder="Ingrese el precio del producto"
                                                               formControlName="unitsAvailable"
                                                               (keypress)="validateEnter($event, 'numeros')" required>
                                                        <span class="input-group-text">%</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-12">
                                                <div class="mb-0">
                                                    <label class="form-label">Caracteristicas<span
                                                            class="text-red">*</span></label>
                                                    <textarea rows="4" class="form-control"
                                                              placeholder="Ingrese las características del producto"
                                                              formControlName="characteristic"
                                                              (keypress)="validateEnter($event, 'letras')"
                                                              required></textarea>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="card-border">
                                    <div class="card-border-title">Categoría relacionada</div>
                                    <div class="card-border-body">

                                        <div class="row gx-3">
                                            <div class="col-sm-6 col-12">
                                                <div class="mb-3">
                                                    <label class="form-label">Categoría<span
                                                            class="text-red">*</span></label>
                                                    <select class="form-control" formControlName="categoryId" required
                                                            (change)="subCategoryLoad(productForm.get('categoryId')?.value)">
                                                        <option value="Select Product Category">Seleccione la
                                                            categoría
                                                        </option>
                                                        <option *ngFor="let category of categories"
                                                                [value]="category.idCategory">
                                                            {{ category.description }}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-12">
                                                <div class="mb-3">
                                                    <label class="form-label">Sub-Categoría<span
                                                            class="text-red">*</span></label>
                                                    <select class="form-control" formControlName="idSubCategory"
                                                            required>
                                                        <option value="Select Product Category">Seleccione la
                                                            Subcategoría
                                                        </option>
                                                        <option *ngFor="let subCategory of subcategoriesFilter"
                                                                [value]="subCategory.getIdSubCategory()">
                                                            {{ subCategory.getDescription() }}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-12">
                                                <div class="mb-3">
                                                    <label class="form-label">Seleccionar ficha técnica<span
                                                            class="text-red">*</span></label>
                                                    <input type="file" (change)="onFileSelected($event)"
                                                           accept=".pdf" class="form-control"
                                                           formControlName="datasheet" required/>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-12">
                                                <div class="mb-0">
                                                    <div *ngIf="pdfUrl">
                                                        <pdf-viewer [src]="pdfUrl" [render-text]="true"
                                                                    style="display: block;"></pdf-viewer>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-12">
                                <div class="card-border">
                                    <div class="card-border-title">Imagenes del producto</div>
                                    <div class="card-border-body">
                                        <div #dropzone id="dropzone" class="dropzone-dark"
                                             (click)="triggerFileInputClick()">
                                            <div class="dz-message needsclick">
                                                <label for="fileInput" class="dz-button" *ngIf="isTextVisible">Arrastra
                                                    la imagen a guardar o realiza un clic.</label>
                                                <input #fileInput type="file" id="fileInput" style="display: none"
                                                       (change)="onFileSelected($event)"
                                                       formControlName="image" required>
                                                <br>
                                                <span class="note needsclick" *ngIf="isTextVisible">
                                                                (Los archivos se prevusializaran antes de ser añadidos <strong>no</strong> se actualiza hasta dar clic en <strong>Añadir producto</strong>.)
                                                            </span>
                                                <div *ngFor="let image of uploadedImages; let i = index"
                                                     class="dz-preview">
                                                    <img [src]="image.dataURL" alt="Preview">
                                                    <div class="progress-bar-container"
                                                         *ngIf="showProgressBar && i === uploadedImages.length - 1">
                                                        <div class="progress-bar"
                                                             [style.width]="uploadProgress + '%'"></div>
                                                    </div>
                                                    <button type="button" (click)="removeImage(i, $event)">
                                                        <img class="remove" src="assets/image/create-product/x.svg">
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-12">
                                <div class="custom-btn-group flex-end">
                                    <button type="button" class="btn btn-light">Cancelar</button>
                                    <button type="button" class="btn btn-success" (click)="onSubmit()"
                                            [disabled]="!productForm.valid || isLoading">Guardar
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
