.form-outline {
  margin-bottom: 1.5rem;
  position: relative;

  input {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid #007BFF;
    background-color: transparent;
    color: #333;
    transition: border-bottom-color 0.3s ease, color 0.3s ease;

    &:focus {
      outline: none;
      border-bottom-color: #0056b3;
    }

    &:valid {
      ~ label {
        opacity: 0; // Hacer que el label sea transparente
        visibility: hidden; // Ocultar el label
        transform: translateY(-1.5rem) scale(0.8);
      }
    }
  }

  label {
    position: absolute;
    top: 1.5rem;
    left: 0.75rem;
    font-size: 0.9rem; // Tamaño de letra un poco más pequeño
    padding: 0 0.25rem;
    color: #111213; // Cambiar el color del texto del label a azul
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  }
}

.card {
  border-radius: 1rem;

  .login-image {
    img {
      border-radius: 1rem 0 0 1rem;
    }
  }

  .card-body {
    padding: 4rem 4rem 4rem 2rem;
  }

  .h1 {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 2.5rem;
    color: #007BFF;
  }

  h5 {
    font-weight: normal;
    margin-bottom: 3px;
    letter-spacing: 1px;
  }

  .form-outline {
    margin-bottom: 2rem;
  }

  .btn-container {
    display: flex;
    gap: 1rem;

    .btn {
      cursor: pointer;
      border: none;
      border-radius: 25px;
      transition: background-color 0.3s ease, transform 0.2s ease;

      &.btn-dark {
        background-color: #007BFF;
        color: #ffffff;
      }

      &:hover {
        background-color: #0056b3;
        transform: scale(1.08);
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(52, 58, 64, 0.3);
      }
    }

    .btn-block {
      flex: 1;
    }
  }
}
