<section #categoriasSeccion id="inventorySeccion" class="categories inventory-content">
    <div class="container">
        <div class="row">
            <div class="inventory-subtitle"><b>Nuestros productos</b></div>
        </div>
        <div class="row">
            <div class="inventory-title">Destacados</div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="container-detail"></div>
            <div class="col">
                <div class="row">
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col">
                    </div>
                    <div class="col">
                        <select class="form-select" aria-label="Default select example"
                            (change)="orderInventory($event)">
                            <option [value]="0" selected>Ordernar productos</option>
                            <option [value]="order.code" *ngFor="let order of optionOrder; let i = index">
                                {{order.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="row">
                <div class="container-filter">

                    <div class="container">

                        <div class="row title-container">
                            <h5><strong>Filtros</strong></h5>
                        </div>

                        <div class="row">
                            <hr />
                            <h6>Categoria</h6>

                            <div class="form-check">
                                <div *ngFor="let category of categoryFull">
                                    <p><strong>{{category.getCategory().getDescription()}}</strong></p>
                                    <div *ngFor="let subCategory of category.getListSubCategories()">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                            id="flexRadioDefault1" [value]="subCategory.getIdSubCategory()" (click)="filterForSubCategory(subCategory.getIdCategory(),
                                            subCategory.getIdSubCategory())">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            {{subCategory.getDescription()}}
                                        </label>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" (click)="filterForSubCategory(0, 0)" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Todos
                                </label>
                            </div>
                        </div>

                        <div class="row">

                        </div>
                    </div>

                </div>
                <div class="col-md-3 col-sm-6" *ngFor="let inventory of inventoryFilter; let i= index">
                    <div class="product-grid2 card">
                        <div class="product-image2">
                            <a (click)="navigateToDetail(inventory)">
                                <img class="pic-1" [src]="inventory.getImageInitial()" loading="lazy">
                                <img class="pic-2" [src]="inventory.getImageSecond()" loading="lazy">
                            </a>
                            <ul class="social">
                                <li><a (click)="selectedProduct(i)" data-tip="Mas"><i class="fa fa-eye"></i></a>
                                </li>
                            </ul>
                            <span class="product-new-label">{{inventory.getDescriptionCategory()}}</span>
                            <a class="add-to-cart">Caracteristicas</a>
                        </div>
                        <div class="product-content card-footer">
                            <h3 class="title"><a><strong>{{inventory.getDescriptionInventory()}}</strong></a></h3>
                            <span class="price">{{inventory.getPrice() | currency:"$":"symbol"}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
