.inventory-subtitle {
    text-align: center;
    font-size: 1vw;
    color: #0F2137;
}

.inventory-title {
    text-align: center;
    font-size: 2vw;
    color: #0F2137;
}

.inventory-content {
    padding-top: 3%;
    padding-bottom: 3%;
}