<div class="footer-content">
    <!-- Footer -->
    <footer class="footer-bg text-center text-white">

        <div class="container footer-into">

            <div class="row">
                <div class="col-2">
                    <img src="/assets/image/logo/LogoCoure.png" class="logo-footer" alt="Logo cata electrodomesticos"
                        title="Logo cata electrodomesticos">
                </div>
                <div class="col footer-title">
                    Suscríbete para obtener la mejores ofertas
                </div>
                <div class="col-2 text-end">
                    <img src="/assets/image/logo/Cata_logo.png" class="logo-footer" alt="Logo cata electrodomesticos"
                        title="Logo cata electrodomesticos">
                </div>
            </div>

            <div class="row">

            </div>
            <div class="row">
                <div class="col">
                    Recibe mensualmente nuestros catalogos con novedades y tendencias
                </div>
            </div>
            <div class="row footer-email">
                <div class="col d-flex justify-content-end">
                    <div class="input-container">
                        <input type="mail" required="" />
                        <label>Correo electronico</label>
                    </div>
                </div>
                <div class="col d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-light">
                        Suscríbete
                    </button>
                </div>
            </div>
        </div>

        <!-- Grid container -->
        <div class="container p-4">

            <section class="mb-4">
                <p>
                    Únete a nuestra comunidad de diseño arquitectónico y recibe las últimas tendencias, consejos y
                    ofertas exclusivas directamente en tu bandeja de entrada. ¡Suscríbete ahora para inspirarte y
                    transformar tu espacio con estilo y elegancia!
                </p>
                <ul class="list-inline mt-4 size-socialIcon">
                    <!--<li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i
                                class="fa fa-twitter"></i></a></li>-->
                    <li class="list-inline-item"><a href="https://www.facebook.com/Cohelum.SAS?locale=es_LA"
                            target="_blank" title="facebook"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/cohelum/?hl=es" target="_blank"
                            title="instagram"><i class="fa fa-instagram"></i></a></li>
                    <!-- <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i
                                class="fa fa-pinterest"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i
                                class="fa fa-vimeo"></i></a></li>-->
                </ul>
            </section>

        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright: Cohelum sas - Todos lo derechos reservados.
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>