<div class="container-detail">

    <section #categoriasSeccion id="inventoryDetailSeccion" class="categories inventory-content">
        <div class="container">
            <div class="row">
                <a [routerLink]="['/Inventory']" class="back-arrow">
                    <i class="fa fa-arrow-left"></i> Atrás
                </a>
                <div class="inventoryDetail-subtitle"><b>Product detail</b></div>
            </div>
            <div class="row">
                <div class="inventoryDetail-title">Detalle del producto</div>
            </div>
        </div>
    </section>
    <section>
        <div class="container info">
            <div class="row">
                <div class="col-md-6 information">
                    <h2>{{ details.name}}</h2>
                    <h5> <strong> Referencia : </strong>{{ details.reference}}</h5>
                    <div class="rating">
                        <div class="product-ratings d-inline-block align-middle">
                            <span class="fa fa-stack" [style.color]="averageRating >= 1 ? '#E0AB67' : ''"><i
                                    class="material-icons">star</i></span>
                            <span class="fa fa-stack" [style.color]="averageRating >= 2 ? '#E0AB67' : ''"><i
                                    class="material-icons">star</i></span>
                            <span class="fa fa-stack" [style.color]="averageRating >= 3 ? '#E0AB67' : ''"><i
                                    class="material-icons">star</i></span>
                            <span class="fa fa-stack" [style.color]="averageRating >= 4 ? '#E0AB67' : ''"><i
                                    class="material-icons off">star</i></span>
                            <span class="fa fa-stack" [style.color]="averageRating >= 5 ? '#E0AB67' : ''"><i
                                    class="material-icons off">star</i></span>
                        </div>
                        <a href="javascript:void(0);" (click)="scrollToReview()" class="review-down">(Escribir
                            opinión)</a>

                    </div>
                    <div class="price float-left w-100 d-flex">
                        <div class="regular-price" *ngIf="details.price > 0">{{ details.price |
                            currency:'$':'symbol':'1.0-0'}}</div>
                    </div>
                    <p>{{ details.characteristic }}</p>
                    <a [href]="pdfUrl" target="_blank" download="Ficha técnica.pdf" class="btn pdf">
                        <img src="assets/pdf/pdf-svgrepo-com.svg" alt="Icono PDF" class="icono-pdf" loading="lazy" />
                        Ficha técnica
                    </a>
                </div>
                <div class="col-md-6">
                    <div class="image-container" style="width: 400px; height: 400px; overflow: hidden;">
                        <ng-container *ngIf="images && images.length > 0">
                            <p-image
                                    [src]="pathImage + images[currentIndex]"
                                    [previewImageSrc]="pathImage + images[currentIndex]"
                                    alt="Image"
                                    width="100%"
                                    height="100%"
                                    [preview]="true"
                            ></p-image>
                        </ng-container>
                    </div>

                    <div class="thumbnail-gallery">
                        <div class="thumbnails-container">
                            <ng-container *ngFor="let image of images; let i = index">
                                <img [src]="pathImage + image" class="thumbnail" (click)="changeImage(i)" loading="lazy" />
                            </ng-container>
                        </div>
                    </div>
                </div>




            </div>
        </div>
        <div class="container-fluid py-5 mt-5">
            <div class="container py-5">
                <div class="row g-4 mb-5">
                    <div class="col-lg-8 col-xl-9">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <nav>
                                    <div class="nav nav-tabs mb-3">
                                        <button class="nav-link active border-white border-bottom-0" type="button"
                                            role="tab" id="nav-mission-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-mission" aria-controls="nav-mission"
                                            aria-selected="true">Reseñas</button>
                                    </div>
                                </nav>
                                <div class="tab-content mb-5">
                                    <div class="tab-pane active" #reviewSection id="nav-mission" role="tabpanel"
                                        aria-labelledby="nav-mission-tab">
                                        <div *ngFor="let comment of comments" class="d-flex mb-4">
                                            <img src="assets/image/users/avatar.jpg"
                                                class="img-fluid rounded-circle p-3"
                                                style="width: 100px; height: 100px;" alt="" loading="lazy">
                                            <div class="">
                                                <p class="mb-2" style="font-size: 14px;">{{ comment.highDate }}</p>
                                                <div class="consultComment">
                                                    <h5>{{ comment.name }}</h5>
                                                    <div class="d-flex mb-3">
                                                        <i class="fa fa-star"
                                                            *ngFor="let star of getStarsArray(comment.qualification); let i = index"
                                                            [style.color]="i < comment.qualification ? '#E0AB67' : ''"></i>
                                                    </div>
                                                </div>
                                                <p>{{ comment.review }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form [formGroup]="commentForm">
                                <h4 class="mb-5 fw-bold">Tu reseña</h4>
                                <div class="row g-4">
                                    <div class="col-lg-6">
                                        <div class="border-bottom rounded">
                                            <input type="text" class="form-control border-0 me-4" placeholder="Nombre *"
                                                formControlName="name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="border-bottom rounded">
                                            <input type="email" class="form-control border-0"
                                                placeholder="Correo electrónico *" formControlName="email">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="border-bottom rounded my-4">
                                            <textarea name="" id="" class="form-control border-0" cols="30" rows="8"
                                                placeholder="Reseña *" spellcheck="false"
                                                formControlName="review"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="d-flex justify-content-between py-3 mb-5">
                                            <div class="d-flex align-items-center">
                                                <p class="mb-0 me-3">Calificación general:</p>
                                                <div class="d-flex align-items-center" style="font-size: 15px;">
                                                    <i class="fa fa-star" (click)="setSelectedStarColor('#E0AB67', 0)"
                                                        [style.color]="commentForm.get('qualification')?.value >= 1 ? selectedStarColor : ''"></i>
                                                    <i class="fa fa-star" (click)="setSelectedStarColor('#E0AB67', 1)"
                                                        [style.color]="commentForm.get('qualification')?.value >= 2 ? selectedStarColor : ''"></i>
                                                    <i class="fa fa-star" (click)="setSelectedStarColor('#E0AB67', 2)"
                                                        [style.color]="commentForm.get('qualification')?.value >= 3 ? selectedStarColor : ''"></i>
                                                    <i class="fa fa-star" (click)="setSelectedStarColor('#E0AB67', 3)"
                                                        [style.color]="commentForm.get('qualification')?.value >= 4 ? selectedStarColor : ''"></i>
                                                    <i class="fa fa-star" (click)="setSelectedStarColor('#E0AB67', 4)"
                                                        [style.color]="commentForm.get('qualification')?.value >= 5 ? selectedStarColor : ''"></i>
                                                </div>
                                                <div *ngIf="commentForm.get('qualification')?.value"
                                                    class="rating-label">
                                                    {{ getRatingLabel(commentForm.get('qualification')?.value) }}
                                                </div>
                                            </div>
                                            <button id="submit"
                                                class="btn border border-secondary rounded-pill px-4 py-3 btn-suc"
                                                (click)="getTokenPublic()">Publicar reseña</button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</div>
