.inventoryDetail-subtitle {
    text-align: center;
    font-size: 1vw;
    color: #0F2137;
}

.inventoryDetail-title {
    text-align: center;
    font-size: 2vw;
    color: #0F2137;
    font-family: "Times New Roman", Times, serif;
    font-weight: 800;
    margin-top:1rem;
}

.geeks {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
}

.geeks img {
    width: 50%;
    transition: 0.5s all ease-in-out;
}

.geeks:hover img {
    transform: scale(1.5);
}
.information{
    margin-top:1rem;
}
h2{
    font-weight: 700;
    margin-bottom: 2rem;
}
p{
    font-weight: 500;
}
.pdf{
    margin: 2rem 10rem
}
.icono-pdf{
    width: 50px;
    height: 50px;
}
.container{
    margin-top:3rem;
}
.info{
    margin-bottom:-8rem;
}
.regular-price{
    font-weight: 800;
    color:#45595b;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}
.nav.nav-tabs .nav-link.active {
    border-bottom: 3px solid var(--bs-secondary) !important;
}
.text-secondary{
    color:#ffb524 !important
}
.d-flex.align-items-center {
    font-size: 15px;

    .fa-star {
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
            color: #E0AB67;
        }

        &.selected {
            color: #E0AB67 !important;
        }
    }
}

.rating-label {
    margin-left: 15px;
    font-family: "Mulish", Sans-serif, serif;
    font-weight: 800;
}

#submit {
    background-color: white;
    color: #E0AB67;
    border: none;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background-color: orange;
        color: black;
    }
}

.image-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.contained-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 8px;
}

.thumbnail-gallery {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    .thumbnails-container {
        display: flex;
        .thumbnail {
            width: 50px;
            height: 50px;
            margin-right: 5px;
            cursor: pointer;
            border-radius: 4px;
            transition: transform 0.2s ease;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

@media (max-width: 768px) {
    .inventoryDetail-subtitle{
        font-size: 3vw;
    }
    .inventoryDetail-title{
        font-size: 5vw;
    }
}
.back-arrow {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #090909;
    text-decoration: none;

    i {
        margin-right: 5px;
    }

    &:hover {
        color: #051634;
    }
}
.btn-suc{
    @media (max-width: 768px) {
        font-size: 11px;
    }
}
