<app-header-public></app-header-public>
<app-allies-public *ngIf="!isActiveInventoty"></app-allies-public>
<app-showcase-public *ngIf="!isActiveInventoty"></app-showcase-public>
<app-product-public *ngIf="!isActiveInventoty"></app-product-public>
<app-inventory *ngIf="isActiveInventoty"></app-inventory>
<app-inventory-detail *ngIf="isActiveInventoty"></app-inventory-detail>
<app-team-public *ngIf="!isActiveInventoty"></app-team-public>
<app-contact *ngIf="!isActiveInventoty"></app-contact>
<app-footer-public></app-footer-public>

