h1{
  color: #495057;
}
.icon-edit{
  cursor: pointer;
}
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
.space{
  flex: 1 1 auto;
}
.title-button{
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin: 0;
  }
  .demo-button-container{
    border-radius: 10px
  }
}

.buttons-actions{
  margin-right: 1rem;
  margin-bottom: 2rem;
  border-radius: 8px
}
.mat-form-field {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}



