<div class="title-button">
  <h1>Categorías</h1>
  <div class="demo-button-container">
    <button mat-raised-button color="primary" (click)="addCategory()">AGREGAR</button>
  </div>
</div>

<div class="card">
  <div class="card-head">Lista de categorías</div>
  <div class="card-body">
    <mat-form-field *ngIf="!addingCategory">
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filtro por descripción" #input autocomplete="off">
    </mat-form-field>

    <div *ngIf="addingCategory">
      <form [formGroup]="productForm">
        <mat-form-field class="input-category">
          <mat-label>Nueva Categoría</mat-label>
          <input matInput formControlName="descriptionCategory" placeholder="Ingresa una nueva descripción" autocomplete="off" class="Input-filter-add">
          <div class="icon-container">
            <i *ngIf="productForm.controls['descriptionCategory'].valid" class="far fa-circle-check icon-check"></i>
          </div>
        </mat-form-field>
        <div id="file-image-category">
          <input class="file" type="file" (change)="onFileSelected($event, 'image')" #imageFileInput formControlName="image" required style="display: none;">
          <button mat-raised-button color="primary" (click)="imageFileInput.click()">Imagen de la categoría</button>
        </div>
        <div class="icon-container">
          <i *ngIf="productForm.controls['image'].valid" class="far fa-circle-check icon-check"></i>
        </div>
        <button mat-raised-button color="primary" class="buttons-actions" (click)="onSubmit()">Guardar</button>
        <button mat-raised-button color="warn" class="buttons-actions" (click)="cancelAdd()">Cancelar</button>
      </form>
    </div>

    <div class="mat-elevation-z8 table-image">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="idCategory">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.idCategory}} </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="!element.isEditing; else editMode">
              {{element.description}}
            </ng-container>
            <ng-template #editMode>
              <input matInput [(ngModel)]="element.description" placeholder="Editar descripción" autocomplete="off">
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Imagen </th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="!element.isEditing; else editMode">
              <img *ngIf="element.image"   [src]="element.image" alt="Imagen Categoría" height="50" width="50">
            </ng-container>
            <ng-template #editMode>
              <input type="file" (change)="onFileSelected1($event,element.idCategory)" />
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="statusCategory">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="!element.isEditing; else editMode">
              {{element.statusCategory ? 'Activo' : 'Inactivo'}}
            </ng-container>
            <ng-template #editMode>
              <mat-checkbox [ngModel]="element.statusCategory" (ngModelChange)="element.statusCategory = $event"></mat-checkbox>
            </ng-template>
          </td>
        </ng-container>


        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="!element.isEditing; else editActions">
              <a class="icon-edit" (click)="editCategory(element)">
                <mat-icon>edit</mat-icon>
              </a>
            </ng-container>
            <ng-template #editActions>
              <button mat-icon-button color="primary" (click)="saveEditedCategory(element)">
                <mat-icon>done</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="cancelEdit(element)">
                <mat-icon>cancel</mat-icon>
              </button>
            </ng-template>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Seleccionar pagína">
      </mat-paginator>
    </div>
  </div>
</div>
