<section id="ourTeamSection" class="team-content">
    <div class="container">
        <div class="row">
            <div class="team-subtitle"><b>Our Team</b></div>
        </div>
        <div class="row">
            <div class="team-title">Generamos Experiencias</div>
        </div>
    </div>
</section>


<section id="ourTeamSection" class="ourTeam">

    <div class="container">
        <div class="row">
            <div class="col">
                <div *ngFor="let item of listaImagenesCarrusel" class="contenedor-video">
                    <video autoplay loop muted controls class="size-video">
                        <source [src]='item.getSourceImage()' type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="col">
                <h2 class="team-parrafo">
                    En Cohelum, nos enorgullece compartir nuestra trayectoria en la distribución de accesorios de
                    construcción y cocina a lo largo de diversos proyectos que han dejado una huella duradera. Cada
                    proyecto es una historia única de creatividad, funcionalidad y estilo, donde hemos colaborado con
                    profesionales y amantes del diseño para hacer realidad sus visiones.
                </h2>
            </div>
        </div>
    </div>
</section>