<section id="ourTeamSection" class="ourTeam">
    <div class="section_header">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="section_header__subtitle">
                        <h2>Our Team</h2>
                    </div>
                    <div class="section_header__title">
                        <h1>Nuestros Equipo</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section_body">
        <div class="container">
            <div class="row">
                <div class="col">
                    <figure class="snipOurTeam">
                        <div class="profile-image"><img
                                src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample47.jpg" alt="sample47" />
                        </div>
                        <figcaption>
                            <h3>Lorem Ipsum</h3>
                            <h4>Founder</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard
                                dummy text ever since the 1500s.</p>
                            <div class="icons">
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"> <i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="col">
                    <figure class="snipOurTeam">
                        <div class="profile-image"><img
                                src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample83.jpg" alt="sample83" />
                        </div>
                        <figcaption>
                            <h3>Lorem Ipsum</h3>
                            <h4>Web Designer</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's
                                standard dummy text ever since the 1500s.</p>
                            <div class="icons">
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"> <i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="col">
                    <figure class="snipOurTeam">
                        <div class="profile-image"><img
                                src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample70.jpg" alt="sample70" />
                        </div>
                        <figcaption>
                            <h3>Lorem Ipsum</h3>
                            <h4>Public Relations</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's
                                standard dummy text ever since the 1500s.</p>
                            <div class="icons">
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"> <i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
