.categories {
    figure.snip0067 {
        font-family: 'Raleway', Arial, sans-serif;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        margin: 10px 1%;
        min-width: 220px;
        max-width: 310px;
        width: 100%;
        background: #ffffff;
        color: #000000;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Añade sombra
        transition: box-shadow 0.3s ease-in-out;

        &:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); // Cambia la sombra al pasar el ratón

        }
        @media (max-width: 768px) {
            max-width: 100%; // Hace que cada elemento ocupe el ancho completo
            margin: 10px 0; // Ajusta el margen para dispositivos pequeños

            figcaption {
                padding: 10px; // Reduce el espacio alrededor del texto
            }
        }


        figcaption {
            padding: 20px;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            z-index: 1;
            opacity: 0;
            background: rgba(0, 0, 0, 0.7);
            color: #fff;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            transition: opacity 0.4s ease-in-out;

            h2 {
                font-size: 1.4em;
                font-weight: 800;
                cursor:pointer;
                text-transform: uppercase;
                margin: 0;
                span {
                    font-weight: 300;
                }
            }

            p {
                font-weight: 500;
                font-size: 0.9em;
                opacity: 0.8;
                margin: 5px 0 0;
            }
        }

        &:hover {
            opacity: 1;
            transition: opacity 0.4s ease-in-out; // Agrega transición suave
        }
    }

}

.category-content {
    padding-top: 3%;
    padding-bottom: 3%;

    .category-subtitle {

        @media (max-width: 768px) {
            font-size: 3vw; // Ajuste para dispositivos pequeños
        }
    }

    .category-title {

        @media (max-width: 768px) {
            font-size: 5vw; // Ajuste para dispositivos pequeños
        }
    }
}

.category-subtitle {
    text-align: center;
    font-size: 1vw;
    color: #0F2137;
}

.category-title {
    font-family: "Mulish", sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 2vw;
    color: #0F2137;
}

.card1 {
    display: block;
    position: relative;
    max-width: 100%;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;

    @media (max-width: 1199px) {
        margin: 12px 0; // Ajuste para dispositivos pequeños
    }

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -16px;
        right: -16px;
        background: #00838d;
        height: 32px;
        width: 32px;
        border-radius: 32px;
        transform: scale(1);
        transform-origin: 50% 50%;
        transition: transform 0.25s ease-out;
    }

    &:hover:before {
        transform: scale(21);
    }

    p {
        font-size: 17px;
        font-weight: 400;
        line-height: 20px;
        color: #666666;

        &.small {
            font-size: 14px;
        }
    }

    .go-corner {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 32px;
        height: 32px;
        overflow: hidden;
        top: 0;
        right: 0;
        background-color: #00838d;
        border-radius: 0 4px 0 32px;
    }

    .go-arrow {
        margin-top: -4px;
        margin-right: -4px;
        color: white;
        font-family: courier, sans;
    }

    &:hover {
        p {
            transition: all 0.3s ease-out;
            color: rgba(255, 255, 255, 0.8);
        }

        h3 {
            transition: all 0.3s ease-out;
            color: #ffffff;
        }
    }
}

:host ::ng-deep .p-carousel-item {
    max-height: 500px;
}

:host ::ng-deep .p-carousel-item-active {
    max-height: 100% !important;
}

.section-categories {
    height: 24vw;
    @media (max-width: 1199px) {
        height: auto; // Ajusta la altura para dispositivos pequeños
    }
    .p-carousel {
        margin: 0 auto; // Centra el carrusel
    }
}

.categories-container {
    position: relative;
    width: 94%;
}

.categories-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.categories-container:hover .image {
    opacity: 0.3;
}

.categories-container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.main-title {
    color: #2d2d2d;
    text-align: center;
    text-transform: capitalize;
    padding: 0.7em 0;
}

.container-categoria {
    padding: 1em 0;
    float: left;
    width: 80%;

    @media (max-width: 1199px) {
        font-size: 3vw;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
}



.container-categoria .title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
}

.content {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
    opacity: 1;
}

.content-image {
    width: 100%;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h3 {
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.content-details p {
    color: #fff;
    font-size: 0.8em;
}

.fadeIn-bottom {
    top: 80%;
}

.fadeIn-top {
    top: 20%;
}

.fadeIn-left {
    left: 20%;
}

.fadeIn-right {
    left: 80%;
}
img {
    max-width: 100%;
    position: relative;
    display: block;
    cursor:pointer;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 2px solid #ccc;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    &:hover {
        border: 2px solid #bbb7b7; // Cambia el color del borde al pasar el ratón
        border-radius: 0;
        opacity: 0.8;
        cursor: pointer; // Cambia el cursor al pasar el ratón
    }
}
