<section #categoriasSeccion id="categoriasSeccion" class="categories category-content">
    <div class="container">
        <div class="row">
            <div class="category-subtitle"><b>Productos destacados</b></div>
        </div>
        <div class="row">
            <div class="category-title">Categorias</div>
        </div>
    </div>
</section>

<section class="section-categories">
    <p-carousel [value]="category" [numVisible]="4" [numScroll]="1" [responsiveOptions]="responsiveOptions">
        <ng-template let-category pTemplate="item">
            <div class="product-item" [routerLink]="['/Inventory']">
                <div class="product-item-content">
                    <div class="container-categoria">
                        <div class="content">
                            <a>
                                <div class="content-overlay"></div>
                                <img class="content-image" [src]="pathImage + category?.getCategoryImageDTO?.image"
                                    alt="{{category?.getInventoryCategoryDTO?.description}}" loading="lazy">
                                <div class="content-details fadeIn-bottom">
                                    <h3 class="content-title">{{category?.getInventoryCategoryDTO?.description}}</h3>
                                    <p class="content-text">This is a short description</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</section>