<section id="categoriesSection" class="categories">
    <div class="section_header">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="section_header__subtitle">
                        <h2>Featured Products</h2>
                    </div>
                    <div class="section_header__title">
                        <h1>Categorias</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section_body">
        <div class="container">
            <div class="row mx-auto my-auto">
                <div id="cardCarousel" class="carousel slide w-100" data-ride="carousel">
                    <div class="carousel-inner w-100" role="listbox">
                        <div class="carousel-item active">
                            <div class="col-md-4">
                                <figure class="snip0067 red">
                                    <img src="./assets/image/featuredProducts/BOSCH_CTL636ES1_PORTADA_360x.webp"
                                        alt="sample8" />
                                    <figcaption>
                                        <h2>Máquina de <span>Café</span></h2>
                                        <p>Automática 60 cm | Serie 8 - CTL636ES1 - Bosch.</p>
                                        <div class="icons">
                                            <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                                        </div>
                                    </figcaption>
                                    <div class="position">Máquina de <span>Café</span></div>
                                </figure>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-4">
                                <figure class="snip0067 blue">
                                    <img src="./assets/image/featuredProducts/6ba3dd37777a0b888b937fe427fbe56b_360x.webp"
                                        alt="sample8" />
                                    <figcaption>
                                        <h2>Poceta <span>BOX CENTER</span></h2>
                                        <p>86 cm ; BWX 220-54-27 - FRANKE.</p>
                                        <div class="icons">
                                            <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                                        </div>
                                    </figcaption>
                                    <div class="position">Poceta <span>BOX CENTER</span></div>
                                </figure>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-4">
                                <figure class="snip0067 yellow">
                                    <img src="./assets/image/featuredProducts/100DI90I04_1_360x.webp" alt="sample8" />
                                    <figcaption>
                                        <h2>Campana <span>Italiana</span></h2>
                                        <p>Campana Italiana IPE ISOLA AIRONE - 100DI90I04 - 90CM.</p>
                                        <div class="icons">
                                            <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                                        </div>
                                    </figcaption>
                                    <div class="position">Campana <span>Italiana</span></div>
                                </figure>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-4">
                                <figure class="snip0067 red">
                                    <img src="./assets/image/featuredProducts/BOSCH_CTL636ES1_PORTADA_360x.webp"
                                        alt="sample8" />
                                    <figcaption>
                                        <h2>Máquina de <span>Café</span></h2>
                                        <p>Automática 60 cm | Serie 8 - CTL636ES1 - Bosch.</p>
                                        <div class="icons">
                                            <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                                        </div>
                                    </figcaption>
                                    <div class="position">Máquina de <span>Café</span></div>
                                </figure>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-4">
                                <figure class="snip0067 blue">
                                    <img src="./assets/image/featuredProducts/6ba3dd37777a0b888b937fe427fbe56b_360x.webp"
                                        alt="sample8" />
                                    <figcaption>
                                        <h2>Poceta <span>BOX CENTER</span></h2>
                                        <p>86 cm ; BWX 220-54-27 - FRANKE.</p>
                                        <div class="icons">
                                            <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                                        </div>
                                    </figcaption>
                                    <div class="position">Poceta <span>BOX CENTER</span></div>
                                </figure>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-4">
                                <figure class="snip0067 yellow">
                                    <img src="./assets/image/featuredProducts/100DI90I04_1_360x.webp" alt="sample8" />
                                    <figcaption>
                                        <h2>Campana <span>Italiana</span></h2>
                                        <p>Campana Italiana IPE ISOLA AIRONE - 100DI90I04 - 90CM.</p>
                                        <div class="icons">
                                            <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                                        </div>
                                    </figcaption>
                                    <div class="position">Campana <span>Italiana</span></div>
                                </figure>
                            </div>
                        </div>

                    </div>

                    <a class="carousel-control-prev w-auto" href="#cardCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle"
                            aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next w-auto" href="#cardCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle"
                            aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>