.showcase-content {
    padding-top: 6%;
    padding-bottom: 3%;
    overflow: hidden;
}

.showcase-inter {
    padding-right: 6%;
    display: flex;
    flex-direction: column; /* Cambia a una disposición de columna */

    @media (max-width: 992px) {
        padding-right: 0;
        margin-bottom: 20px;
    }
}

.showcase-title {
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-size: 2.6vw;
    color: #001857;
    animation: fadeInUp 1s ease-in-out;

    @media (max-width: 768px) {
        font-size: 5vw;
        margin-bottom: 10px;
    }
}

.showcase-descrption {
    font-family: "Mulish", sans-serif;
    padding-top: 4%;
    color: #001857;
    line-height: 2em;
    animation: fadeInUp 1s ease-in-out;

    @media (max-width: 992px) {
        padding-top: 2%;
    }
}

.showcase-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4%;
    text-align: center;

    @media (max-width: 992px) {
        padding-top: 2%;
    }
}

.col img {
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;

    @media (max-width: 768px) {
        max-width: 100%;
        margin-bottom: 10px;
    }
}

.showcase-icon {
    font-family: "Mulish", sans-serif;
    color: #001857;
    display: flex;
    justify-content: space-around;
    animation: fadeInUp 1s ease-in-out;

    @media (max-width: 768px) {
        flex-direction: row;
        align-items: center;
    }
}

.showcase-icon .col {
    text-align: center;
    padding: 1em;
    transition: transform 0.3s ease-in-out;

    @media (max-width: 768px) {
        padding: 0.5em;
    }
}

.showcase-icon .col:hover {
    transform: scale(1.1);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
