.showcase-content {
    padding-top: 6%;
    padding-bottom: 3%;
    overflow: hidden;
}

.showcase-inter {
    padding-right: 6%;
    display: flex;
    flex-direction: column;


}

.showcase-title {
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-size: 2.6vw;
    color: #001857;
    animation: fadeInUp 1s ease-in-out;

    @media (max-width: 768px) {
        font-size: 5vw;
        margin-bottom: 10px;
    }
}

.showcase-descrption {
    font-family: "Mulish", sans-serif;
    padding-top: 4%;
    color: #001857;
    line-height: 2em;
    animation: fadeInUp 1s ease-in-out;
    font-size: 1.2vw;

    @media (max-width: 768px) {
        font-size: 0.8rem;
        margin: 1rem;
    }
}

.col img {
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;

    @media (max-width: 768px) {
        max-width: 100%;
        margin-bottom: 10px;
        order: 1; // Cambia el orden en dispositivos móviles
    }
}

.showcase-icon {
    font-family: "Mulish", sans-serif;
    color: #001857;
    display: flex;
    justify-content: space-around;
    animation: fadeInUp 1s ease-in-out;

    @media (max-width: 768px) {
        flex-direction: row;
        align-items: center;
        order: 3; // Cambia el orden en dispositivos móviles
    }
}

.showcase-icon .col {
    text-align: center;
    padding: 1em;
    transition: transform 0.3s ease-in-out;

    @media (max-width: 768px) {
        padding: 0.5em;
    }

    &:hover {
        transform: scale(1.1);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.mySlides {
    display: none;
}



.contenedorSocial {
    width: 100%;
    margin-bottom: 20px;
}

.container-carrusel {
    flex: 0 0 100%;
    max-width: 81%;
    margin: 0 auto;

    @media (min-width: 768px) {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
}

@media (max-width: 768px) {
    .container-carrusel {
        padding: 0;
    }
    .showcase-title {
        font-family: "Mulish", sans-serif;
        font-weight: 800;
        display: flex;
        justify-content: center;
    }
}


.imagenSocial {
    width: 100%;
    height: auto;
    max-height: 500px;
}
