<div class="showcase-content">
    <div class="container">
        <div class="row align-items-center">
            <div class="col showcase-inter">
                <p class="showcase-title">{{titleInformative}}</p>
                <div class="row">
                    <div class="col showcase-descrption">
                        <p>{{description}}</p>
                    </div>
                </div>
                <div class="row showcase-icon">
                    <div class="col">
                        <div><i class="fa-solid fa-expand fa-2xl"></i></div>
                        <div class="showcase-col">
                            <p>Tamaño</p>
                        </div>
                    </div>
                    <div class="col">
                        <div><i class="fa-solid fa-user-group fa-2xl"></i></div>
                        <div class="showcase-col">
                            <p>Uso comercial</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-carrusel">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner contenedorSocial">
                        <div class="carousel-item active">
                            <img class="d-block w-100 imagenSocial" [src]="gallerySocial[activeIndex].getSourceResorce()" alt="First slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" role="button" data-slide="prev"
                    (click)="changeDataRest()">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" role="button" data-slide="next" (click)="changeDataSum()">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
