.showcase-content {
    padding-top: 4%;
    padding-bottom: 3%;
}

.showcase-title {
    font-size: 2.6vw;
    color: #001857;
}

.showcase-inter {
    padding-right: 6%;
}

.showcase-descrption {
    padding-top: 4%;
    color: #001857;
    line-height: 2em;
}

.showcase-icon {
    padding-top: 4%;
    color: #001857;
}

.showcase-col {
    padding-top: 4%;
}