<div class="showcase-content">
    <div class="container">
        <div class="row align-items-center">
            <div class="col showcase-inter ">
                <p class="showcase-title">{{titleInformative}}
                </p>
                <div class="row">
                    <div class="col showcase-descrption">
                        <p>{{description}}</p>
                    </div>
                </div>
                <div class="row showcase-icon">
                    <div class="col">
                        <div><i class="fa-solid fa-expand fa-2xl"></i></div>
                        <div class="showcase-col"><p>Tamaño</p></div>
                    </div>
                    <div class="col">
                        <div><i class="fa-solid fa-user-group fa-2xl"></i></div>
                        <div class="showcase-col"><p>Uso comercial</p></div>
                    </div>
                </div>

            </div>
            <div class="col">
                <p-galleria [value]="gallery" [showIndicators]="true" [showThumbnails]="false"
                    [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '540px' }"
                    [(activeIndex)]="activeIndex" (click)="changeData(activeIndex)">
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item.getSourceResorce()" style="width: 100%; display: block;" />
                    </ng-template>
                </p-galleria>
            </div>
        </div>
    </div>
</div>