<div class="header-public-content">
    <div class="header-public-header">
        <header class="fixed-top">

            <nav data-mdb-navbar-init class="navbar navbar-expand-lg navbar-dark bg-dark header-nav">
                <!-- Container wrapper -->
                <div class="container">
                    <!-- Navbar brand -->
                    <a class="navbar-brand me-2">
                        <img src="assets/image/logo.png" class="logo drop puntero" alt="Logo cohelum" loading="lazy"
                             title="Logo empresarial cohelum" style="margin-top: -1px;"  [routerLink]="['/home/content']"/>
                    </a>

                    <!-- Toggle button -->
                    <button data-mdb-collapse-init class="navbar-toggler" type="button"
                            data-mdb-target="#navbarButtonsExample" aria-controls="navbarButtonsExample"
                            aria-expanded="false" aria-label="Toggle navigation" id="menuToggle" (click)="toggleMenu()">
                        <i class="fas fa-bars"></i>
                    </button>


                    <!-- Collapsible wrapper -->
                    <div class="collapse navbar-collapse" id="navbarButtonsExample">
                        <!-- Left links -->
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link"></a>
                            </li>
                        </ul>
                        <!-- Left links -->

                        <div class="d-flex align-items-center">

                            <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu">
                                <li class="nav-item">
                                    <label class="nav-link puntero" [routerLink]="['/home/content']" (click)="closeMenu();
                                    goTo('aliadoSeccion')">Aliados</label>
                                </li>

                                <li class="nav-item">
                                    <label class="nav-link puntero "
                                           [routerLink]="['/home/content']" (click)="closeMenu(); goTo('contactoSeccion')">Contactanos</label>
                                </li>

                                <li class="nav-item">
                                    <label class="nav-link puntero"
                                           (click)="closeMenu(); goTo('aliadoSeccion')">Garantia
                                        Extendida</label>
                                </li>

                                <li class="nav-item1" (click)="toggleDropdown()">
                                    <label class="nav-link puntero">Nosotros</label>
                                    <ul class="content" [ngClass]="{ 'show': isDropdownOpen }">
                                        <li class="lista-nosotros"><a (click)="closeMenu()" [routerLink]="['/Us']">¿Quiénes
                                            somos?</a></li>
                                        <li class="lista-nosotros"><a
                                                (click)="goToSection('projectsSection')">Proyectos</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item desplegar">
                                    <label class="nav-link puntero"
                                           (click)="closeMenu(); goTo('categoriasSeccion')">Productos</label>
                                    <div class="mega-menu">
                                        <h2>Nuestros Tutoriales</h2>
                                        <div class="categorias">
                                            <div class="lista">
                                                <h3>Categoria 1</h3>
                                                <a href="#">Enlace 1</a>
                                                <a href="#">Enlace 2</a>
                                                <a href="#">Enlace 3</a>
                                            </div>
                                            <div class="lista">
                                                <h3>Categoria 2</h3>
                                                <a href="#">Enlace 1</a>
                                                <a href="#">Enlace 2</a>
                                                <a href="#">Enlace 3</a>
                                            </div>
                                            <div class="lista">
                                                <h3>Categoria 3</h3>
                                                <a href="#">Enlace 1</a>
                                                <a href="#">Enlace 2</a>
                                                <a href="#">Enlace 3</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="nav-item desplegar">
                                    <label class="nav-link puntero " (click)="navegateLogin()">Corporativo</label>

                                </li>

                            </ul>
                        </div>
                    </div>

                    <!-- Collapsible wrapper -->
                </div>
                <!-- Container wrapper -->
            </nav>

        </header>
    </div>

    <div #targetDiv>
        <app-slider-home></app-slider-home>
    </div>

</div>
