body {
    font-family: "Mulish", Sans-serif, serif;
    font-weight: 600;
}

.header-nav {
    opacity: 0.8;

}

.logo {
    height: 4vw;
}

.puntero {
    cursor: pointer;
}

.menu {
    font-family: "Mulish", Sans-serif, serif;
    font-weight: 600;
    color: #333;

    li {
        display: inline-block;
        text-decoration: none;
        padding: 20px 15px;
        line-height: normal;
        transition: all 300ms ease;
        position: relative;

        label {
            color: white;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: orange;
                bottom: 0;
                left: 0;
                opacity: 0;
                transition: opacity 0.3s ease;
            }
        }

        &:hover {
            label:after {
                opacity: 1;
            }
        }
    }
}


.desplegar {
    position: relative;
    background: none;
    border: none;
    padding: 26px 15px;
    cursor: pointer;
    outline: 0;

    span {
        font-size: 16px;
    }
}

.mega-menu {
    font-family: "Mulish", Sans-serif, serif;
    font-weight: 600;
    width: auto;
    position: absolute;
    background: #fff;
    top: 100%;
    left: 0;
    max-width: 600px;
    cursor: default;
    transition: all 300ms ease-out;
    opacity: 0;
    visibility: hidden;

    h2 {
        font-family: "Mulish", Sans-serif, serif;
        font-weight: 600;
        padding: 20px;
        background: #1389e0;
        color: #fff;
    }
}

.desplegar:hover .mega-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.categorias {
    display: flex;

    .lista {
        width: 100%;
        margin: 5px;
        padding: 10px;
        color: white;

        h3 {
            font-family: "Mulish", Sans-serif, serif;
            font-weight: 600;
            padding: 10px;
        }

        a {
            display: block;
            color: #0000006E;
            padding: 15px 10px;
            font-size: 15px;
        }
    }
}
.nav-item1 {
    position: relative;

    a {
        text-decoration: none;
        color: white;
    }

    .content {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 400px;
        padding: 20px;


    }

    &:hover .content {
        display: flex;
        flex-direction: column;
    }
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;

    .lista-nosotros {
        width: 48%;
        text-align: left;
        color: black;
        font-family: "Mulish", Sans-serif, serif;
        font-weight: 600;
        padding-bottom: 10px;
        position: relative;


        &:before {
            content: '';
            display: block;
            width: 85%;
            height: 2px;
            background-color: orange;
            position: absolute;
            bottom: 0;

        }

        a {
            color: black;
            text-decoration: none;
        }
    }
}

