<div class="header-public-content">
    <div class="header-public-header">
        <header class="fixed-top">
            <div class="bg-dark collapse" id="navbarHeader">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 offset-md-1 py-4">
                            <h4 class="text-white">Menú</h4>
                            <nav>
                                <ul class="list-unstyled">
                                    <li><a href="#homeSection" class="text-white">Home</a></li>
                                    <li><a href="#ourAlliesSection" class="text-white">Nuestros Aliados</a></li>
                                    <li><a href="#finishesSection" class="text-white">finishesSection</a></li>
                                    <li><a href="#categoriesSection" class="text-white">Categorias</a></li>
                                    <li><a href="#ourAssembliesSection" class="text-white">Nuestros Montajes</a></li>
                                    <li><a href="#ourTeamSection" class="text-white">Nuestros Equipo</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-sm-8 col-md-7 py-4">
                            <h4 class="text-white">About</h4>
                            <p class="text-muted">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard
                                dummy text ever since the 1500s.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-light bg-light box-shadow header-nav">
                <div class="container d-flex justify-content-between">
                    <div><a href="#" class="navbar-brand d-flex align-items-center">
                            <img src="assets/image/logo.svg" alt="Imagen logo corporativo cohelum">
                        </a></div>
                        <div class="row">
                            <div class="col-sm">Aliados</div>
                            <div class="col-sm">Productos</div>
                            <div class="col-sm">Nosotros</div>
                            <div class="col-sm">Contacto</div>
                            <div class="col-sm"><button class="btn btn-secondary">Corporativo</button></div>
                        </div>
         
                </div>
            </div>
        </header>
    </div>



    <div>
        <app-slider-home></app-slider-home>
    </div>

</div>