<div class="us-container">
    <h1><i class="fas fa-users"></i> ¿Quiénes Somos?</h1>
    <section class="section section-sm section-first bg-default text-center" id="services">
        <div class="container">
            <div class="row row-30 justify-content-center align-items-center">
                <div class="col-md-7 col-lg-5 col-xl-6 text-lg-left wow fadeInUp">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="assets/image/fonts/encimera-cocina-blanca-moderna-espacio-libre.jpg" alt="" class="img-fluid image-mision-vision"/>
                        </div>
                    </div>
                    <article class="box-icon-modern box-icon-modern-2">
                        <div class="box-icon-modern-icon"><img src="assets/image/fonts/target.png" alt="Icono"
                                                               width="60" height="60"/></div>
                        <h5 class="box-icon-modern-title">Misión</h5>
                        <p class="box-icon-modern-text"> Lorem Ipsum es simplemente el texto de relleno de las
                            imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de
                            las industrias desde el año 1500, cuando un impresor (N. del T. persona que se
                            dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal
                            manera que logró hacer un libro de textos especimen.</p>
                    </article>
                </div>
                <div class="col-lg-7 col-xl-6">
                    <div class="row row-30">
                        <div class="col-sm-12 wow fadeInRight" data-wow-delay=".3s">
                            <article class="box-icon-modern box-icon-modern-2">
                                <div class="box-icon-modern-icon"><img src="assets/image/fonts/eye.png" alt="Icono"
                                                                       width="60" height="60"/></div>
                                <h5 class="box-icon-modern-title">Visión</h5>
                                <p class="box-icon-modern-text"> Lorem Ipsum es simplemente el texto de relleno de las
                                    imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de
                                    las industrias desde el año 1500, cuando un impresor (N. del T. persona que se
                                    dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal
                                    manera que logró hacer un libro de textos especimen.</p>
                            </article>
                        </div>
                        <div class="col-sm-12 wow fadeInRight" data-wow-delay=".3s">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="assets/image/fonts/encimera-cocina-blanca-moderna-espacio-libre.jpg" alt="" class="img-fluid image-mision-vision"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Contact information-->
    <section class="section section-sm bg-default">
        <div class="container">
            <div class="row row-30 justify-content-center">
                <div class="col-sm-8 col-md-6 col-lg-4">
                    <article class="box-contacts">
                        <div class="box-contacts-body">
                            <div class="box-contacts-icon">
                                <img src="assets/image/fonts/mobile-phone.png" alt="Phone Icon">
                            </div>
                            <div class="box-contacts-decor"></div>
                            <p class="box-contacts-link"><a href="tel:#">+1 323-913-4688</a></p>
                            <p class="box-contacts-link"><a href="tel:#">+1 323-888-4554</a></p>
                        </div>
                    </article>
                </div>
                <div class="col-sm-8 col-md-6 col-lg-4">
                    <article class="box-contacts">
                        <div class="box-contacts-body">
                            <div class="box-contacts-icon">
                                <img src="assets/image/fonts/location-pin.png" alt="Phone Icon">
                            </div>
                            <div class="box-contacts-decor"></div>
                            <p class="box-contacts-link"><a href="#">Calle 50 sur Bis #25-35</a></p>
                        </div>
                    </article>
                </div>
                <div class="col-sm-8 col-md-6 col-lg-4">
                    <article class="box-contacts">
                        <div class="box-contacts-body">
                            <div class="box-contacts-icon">
                                <img src="assets/image/fonts/email.png" alt="Phone Icon">
                            </div>
                            <div class="box-contacts-decor"></div>
                            <p class="box-contacts-link"><a href="mailto:#">mail@demolink.org</a></p>
                            <p class="box-contacts-link"><a href="mailto:#">info@demolink.org</a></p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

</div>
