.us-container {
  text-align: center;
  background-color: white;

  h1 {
    color: black;
    margin-bottom: 30px;
    padding-top: 2rem;
    font-family: "Mulish", sans-serif;
    font-weight: 800;
  }


}

/*contactenos*/

.box-contacts {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 310px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
  transition: all 0.3s ease;

  &:hover {
    .box-contacts-icon {
      transform: translateY(-10px); // Mueve hacia arriba el icono al pasar el mouse
    }

    .box-contacts-decor {
      width: 100%;
      margin-top: 30px;
      margin-bottom: 30px;
      transition: margin 0.3s ease, width 0.4s ease-in-out;
    }
  }

  &-body {
    max-width: 250px;
  }

  &-icon {
    font-size: 60px;
    line-height: 1;
    color: orange;
    img {
      width: 60px;
      height: auto;
    }
  }

  &-decor {
    margin: 10px auto;
    height: 2px;
    max-width: 100px;
    background: black;
    transition: all 0.3s ease-in-out;
    width: 0;
  }

  &-link {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.025em;

    a, a:focus, a:active {
      color: black;
    }

    a:hover {
      color: orange;
    }
  }

  @media (min-width: 992px) {
    .desktop & {
      box-shadow: none;
      border: 1px solid #e1e1e1;

      &-decor {
        margin-top: 17px;
        margin-bottom: 17px;
        width: 0;
      }

      &:hover {
        border-color: transparent;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);

        & .box-contacts-decor {
          margin-top: 30px;
          margin-bottom: 30px;
          width: 100%;
          transition: margin 0.3s ease, width 0.4s ease-in-out;
        }
      }
    }
  }

  &-icon + &-link {
    margin-top: 40px;
  }

  * + &-link {
    margin-top: 0;
  }
}

.section{
  padding:2rem 2rem;
}


/*seccion mision y vision*/
.box-icon-modern {
  text-align: center;
  max-width: 370px;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 66px 15px 50px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
  transition: all .3s ease;


  &-2 {
    padding-top: 42px;
    padding-bottom: 35px;
    max-width: 500px;

    .box-icon-modern-decor {
      margin-top: 18px;
      margin-bottom: 15px;
    }

    .box-icon-modern-text {
      color:black;
      letter-spacing: .025em;
    }

    * + .box-icon-modern-title {
      color:black;
      margin-top: 18px;
    }
  }

  @media (min-width: 992px) {
    .box-icon-modern {
      &-2 {
        max-width: 100%;
      }
    }
  }

  &-3 {
    padding-top: 46px;
    padding-bottom: 30px;

    .box-icon-modern-decor {
      margin-top: 18px;
      margin-bottom: 15px;
    }

    .box-icon-modern-text {
      letter-spacing: .025em;
    }

    * + .box-icon-modern-title {
      margin-top: 28px;
    }
  }

  &-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding-top: 36px;
    padding-bottom: 38px;
  }

  &-icon {
    position: relative;
    font-size: 47px;
    line-height: 1;
    color: inherit;
    z-index: 1;

    &::after {
      position: absolute;
      content: '';
      left: 50%;
      bottom: 9px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 34.5px 60px 34.5px;
      border-color: transparent transparent #eaeaea transparent;
      transform: translate3d(-50%, 0, 0) rotate(15deg);
      transform-origin: 50% 80%;
      transition: all .3s ease;
      z-index: -1;
    }
    &:hover {
      transform: rotate(15deg);
    }
  }

  &-title {
    a, a:focus, a:active {
      color: inherit;

      &:hover {
        color: #6689ff;
      }
    }

    &.box-icon-modern-big-title {
      line-height: 1.04;
    }
  }

  &-decor {
    position: relative;
    max-width: 126px;
    height: 2px;
    width: 0;
    margin: 20px auto 22px;
    overflow: hidden;
    transition: height .3s ease;

    &::before,
    &::after {
      position: absolute;
      content: '';
      height: 100%;
      background: #d7d7d7;
      transition: all .3s ease;
    }

    &::before {
      left: 15px;
      right: 15px;
    }

    &::after {
      left: 50%;
      right: 50%;
    }
  }

  &:hover {
    &-decor {
      height: 0;
    }

    &-icon::after {
      transform: translate3d(-50%, 0, 0) rotate(0deg);
    }

    img {
      transform: translateY(-10px);
    }
  }


  &-text {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  * + &-title {
    margin-top: 16px;
  }

  &-decor + .button {
    margin-top: 8px;
  }

  &-decor + &-text {
    margin-top: 0;
  }

  @media (min-width: 992px) {
    .desktop &:hover {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
    }

    .desktop &:hover .box-icon-modern-icon:after {
      transform: translate3d(-50%, 0, 0) rotate(0deg);
    }

    .desktop &:hover .box-icon-modern-title {
      letter-spacing: .1em;
    }

    .desktop &:hover .box-icon-modern-decor::before {
      left: 50%;
      right: 50%;
      transition-duration: .2s;
    }

    .desktop &:hover .box-icon-modern-decor::after {
      left: 0;
      right: 0;
    }
  }

  @media (min-width: 1200px) {
    &-3 {
      padding: 66px 30px 50px;
    }
  }
}

.image-mision-vision{
  margin-bottom: 2rem;
  width: 500px;
  height: 300px;
}
.col-sm-12{
  margin-bottom: 2rem;
}
.us-description{
  margin-left: 5rem;
  margin-right: 5rem;
  font-weight: 400;
}
