<section id="usSection">
    <div class="us-container">
        <h1><i class="fas fa-users"></i> ¿Quiénes Somos?</h1>
        <div class="us-description">
            <p>Cohelum nace como marca en el corazon de Colombia, buscando ser la esencia del hogar,
                con productos innovadores y de alta calidad a la vanguardia de las tendencias de mercado
                a nivel internacional, buscando ser pioneros en el mercado Colombiano en cuanto a
                diseños de productos de alta calidad.</p>
        </div>

        <section class="section section-sm section-first bg-default text-center" id="services">
            <div class="container">
                <div class="row row-30 justify-content-center align-items-center">
                    <div class="col-md-7 col-lg-5 col-xl-6 text-lg-left wow fadeInUp">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="assets/image/us/mision.jpg" alt="" class="img-fluid image-mision-vision"/>
                            </div>
                        </div>
                        <article class="box-icon-modern box-icon-modern-2">
                            <div class="box-icon-modern-icon"><img src="assets/image/fonts/target.png" alt="Icono"
                                                                   width="60" height="60" loading="lazy"/></div>
                            <h5 class="box-icon-modern-title">Misión</h5>
                            <p class="box-icon-modern-text">Brindar una experiencia confortable a través del diseño, funcionalidad y
                                calidad de los productos en el corazón de cada familia latinoamericana.</p>
                        </article>
                    </div>
                    <div class="col-lg-7 col-xl-6">
                        <div class="row row-30">
                            <div class="col-sm-12 wow fadeInRight" data-wow-delay=".3s">
                                <article class="box-icon-modern box-icon-modern-2">
                                    <div class="box-icon-modern-icon"><img src="assets/image/fonts/eye.png" alt="Icono"
                                                                           width="60" height="60"/></div>
                                    <h5 class="box-icon-modern-title">Visión</h5>
                                    <p class="box-icon-modern-text">Liderar el segmento premium de complementos de cocina colombiano hacia
                                        el año 2026 partiendo de la innovación como pilar fundamental de
                                        diferenciación.
                                    </p>
                                </article>
                            </div>
                            <div class="col-sm-12 wow fadeInRight" data-wow-delay=".3s">
                                <div class="row">
                                    <div class="col-md-12">
                                        <img src="assets/image/us/vision.jpg" alt="" class="img-fluid image-mision-vision"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-sm bg-default text-center" id="values">
            <div class="container">
                <div class="row row-30 justify-content-center align-items-center">
                    <div class="col-md-7 col-lg-5 col-xl-6 text-lg-right wow fadeInUp">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="assets/image/us/value.jpg" alt="" class="img-fluid image-mision-vision"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-xl-6">
                        <div class="row row-30">
                            <div class="col-sm-12 wow fadeInLeft" data-wow-delay=".3s">
                                <article class="box-icon-modern box-icon-modern-2">
                                    <div class="box-icon-modern-icon"><img src="assets/image/us/values.png" alt="Icono"
                                                                           width="60" height="60"/></div>
                                    <h5 class="box-icon-modern-title">Valores</h5>
                                    <p class="box-icon-modern-text">
                                        <strong>Diferenciación:</strong> Productos exclusivos e innovadores.<br>
                                        <strong>Calidad:</strong> Altos estándares de especificación y control de producción.<br>
                                        <strong>Compromiso:</strong> Todo el personal de Cohelum está completamente comprometido en ofrecer el mejor servicio al cliente.<br>
                                        <strong>Honestidad:</strong> Se enmarca dentro de un valor de cumplimiento.<br>
                                        <strong>Felicidad:</strong> Productos que inspiran sentimientos favorables.<br>
                                        <strong>Coherencia:</strong> Lo que se promete es lo que se ofrece.<br>
                                        <strong>Empatía:</strong> Conocer y entender al cliente más allá de lo esperado.
                                    </p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Contact information-->
        <section class="section section-sm bg-default">
            <div class="container">
                <div class="row row-30 justify-content-center">
                    <div class="col-sm-8 col-md-6 col-lg-4">
                        <article class="box-contacts">
                            <div class="box-contacts-body">
                                <div class="box-contacts-icon">
                                    <img src="assets/image/fonts/mobile-phone.png" alt="Phone Icon">
                                </div>
                                <div class="box-contacts-decor"></div>
                                <p class="box-contacts-link"><a href="tel:#">3157104764</a></p>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-8 col-md-6 col-lg-4">
                        <article class="box-contacts">
                            <div class="box-contacts-body">
                                <div class="box-contacts-icon">
                                    <img src="assets/image/fonts/location-pin.png" alt="Phone Icon">
                                </div>
                                <div class="box-contacts-decor"></div>
                                <p class="box-contacts-link"><a href="#">Av 19 # 118 -30 oficina 612 sede administrativa</a></p>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-8 col-md-6 col-lg-4">
                        <article class="box-contacts">
                            <div class="box-contacts-body">
                                <div class="box-contacts-icon">
                                    <img src="assets/image/fonts/email.png" alt="Phone Icon">
                                </div>
                                <div class="box-contacts-decor"></div>
                                <p class="box-contacts-link"><a href="mailto:#">info@cohelum.com</a></p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>

    </div>

</section>
