.search-container{
  position: relative;

  .normal-search{
    .search{
      margin: 2rem;
      border: none;
      height: 2.375rem;
      padding-left: 2.5rem;
      padding-right: 1.25rem;
      background-color: #cacad7;
      box-shadow: none;
      border-radius: 1.875rem;
      outline: 0;
    }
    .search-icon{
      position: absolute;
      margin: 2rem;
      font-size: 1rem;
      line-height: 2.375rem;
      left: 0.813rem;
      top: 0;
      color: #74788d;
    }
  }
  .buscar{
    border-radius: 15px;
  }


}


h1 {
  font-size: 24px;
  margin-bottom: 16px;
}

.card-head {
  margin-bottom: 16px;

  mat-card {
    padding: 16px;

  }
}
img{
  width:100%
}
