<div class="card-head">
    <h2>Consultar productos</h2>
</div>
<div class="card-body">
    <form [formGroup]="consultaForm" (ngSubmit)="onSubmit()">
        <div class="search-container">
            <div *ngIf="!canShowSearchAsOverlay" class="normal-search">
                <input type="search" name="search" id="search" class="search"
                       placeholder="Consultar producto"
                >
                <i class="fa fa-search search-icon"></i>
                <button mat-raised-button color="primary" class="buscar">BUSCAR</button>
            </div>
            <div *ngIf="canShowSearchAsOverlay">
                <button
                        [cdkMenuTriggerFor]="searchOverlay"
                        class="search-menu-btn ripple"
                >
                    <i class="fa fa-search search-icon"></i>
                </button>
            </div>
        </div>
    </form>
    <hr />
    <h3>Resultados de la consulta</h3>
    <!-- Nombre del producto -->
    <mat-form-field class="form-input">
        <mat-label>Nombre del producto</mat-label>
        <input matInput autocomplete="off" formControlName="name" required readonly>
        <!-- Resto del código -->
    </mat-form-field>

    <!-- Precio -->
    <mat-form-field class="form-input">
        <mat-label>Precio</mat-label>
        <input matInput formControlName="price" required readonly>
        <!-- Resto del código -->
    </mat-form-field>

    <!-- Unidades disponibles -->
    <mat-form-field class="form-input">
        <mat-label>Unidades disponibles</mat-label>
        <input matInput formControlName="unitsAvailable" required readonly>
        <!-- Resto del código -->
    </mat-form-field>

    <!-- Categoría -->
    <mat-form-field class="form-input">
        <mat-label>Categoría</mat-label>
        <mat-select formControlName="categoryId" required readonly>
<!--            <mat-option *ngFor="let category of categories" [value]="category.idCategory">
                {{ category.description }}
            </mat-option>-->
        </mat-select>
     <!--   <mat-error *ngIf="productForm.get('categoryId')?.hasError('required')">Selecciona una categoría</mat-error>-->
    </mat-form-field>

    <!-- Característica -->
    <mat-form-field class="form-input">
        <mat-label>Característica</mat-label>
        <input matInput formControlName="characteristic" required readonly>
        <!-- Resto del código -->
    </mat-form-field>

    <!-- Ficha técnica -->
    <mat-form-field class="form-input">
        <mat-label>Ficha técnica</mat-label>
        <input matInput formControlName="datasheet" required readonly>
        <!-- Resto del código -->
    </mat-form-field>

    <!-- Imagen del producto -->
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="form-input">
        <input class="file" type="file" #imageFileInput
               formControlName="image" required readonly style="display: none;">
        <div class="icon-container">
            <i *ngIf="consultaForm.controls['image'].valid" class="far fa-circle-check icon-check"></i>
        </div>
        <button mat-raised-button color="primary" (click)="imageFileInput.click()" [disabled]="consultaForm.controls['image'].valid">Imagen del producto</button>
    </mat-grid-tile>

    <!-- Botón Guardar -->
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="form-input">
        <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-grid-tile>


    <ng-template #searchOverlay>
    <div class="overlay overlay-search overlay-fall" cdkMenu>
        <input type="search" class="search" name="search" placeholder="Search...">
        <button class="search-btn">
            <i class="fa fa-search search-icon"></i>
        </button>
    </div>
</ng-template>
